.App {
  text-align: center;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}
.dark-mode  .header {
    background-color: #1F2022;
    border: none;
  }

.dark{
  color: white;
}

.header{
  background-color: #d6000a;
}
body{
  background-color:#23207c;
}